$button-1: #0496ff;
$button-2: #6e54ac;
$background: #282627;
$texts: #ffe9f3;

.card{
    width: 300px;
    height: 120px;
    border-radius: 25px;
    background-color: #423c3f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    animation: shake1 1s infinite;
    // &:nth-child(1), &:nth-child(2), &:nth-child(3){
    //     animation: shake1 1s infinite;
    // }
    // &:nth-child(4), &:nth-child(5), &:nth-child(6){
    //     animation: shake1 1s infinite;
    // }
    .card-img{
        margin: 0 15px;
        display: flex;
        align-items: center;
    }
    .card-text{
        width: 50%;
        max-width: 50%;
        p{
            font-weight: 600;
            color: $texts;
            font-size: 25px;
        }
    }
}


@keyframes shake1 {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(0.5deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-0.5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes shake2 {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-0.5deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(0.5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}