$button-1: #0496ff;
$button-2: #6e54ac;
$background: #282627;
$texts: #ffe9f3;

.container{
    width: 300px;
    height: 125px;
    margin: 15px auto;
    border-radius: 10px;
    background-color: #423c3f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .img{
        margin: 0 15px;
        display: flex;
        align-items: center;
    }
    .text{
        width: 50%;
        max-width: 50%;
        p{
            font-weight: 600;
            color: $texts;
            font-size: 25px;
        }
    }
}


@keyframes shake1 {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(0.5deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(-0.5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
@keyframes shake2 {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-0.5deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(0.5deg);
    }
    100%{
        transform: rotate(0deg);
    }
}