@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Mukta:wght@200;300;400;500;600;700;800&family=Roboto:wght@700&display=swap');

$lavander-gray: #C9CAD9;
$lavender-blue: #D1D2F9;
$baby-blue: #A3BCF9;
$blue-gray: #7796CB;
// $dark-blue: #576490;
$dark-blue: #344055;
$imperial-red: #EB4242;
$raisin-black: #231B1B;
* {
  margin: 0;
  padding: 0;
}
html{
  font-family: 'Mukta', sans-serif;
  scroll-behavior: smooth;
}

.title-container{
  background-image: url("../../public/bg.jpg");
  background-attachment: fixed;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: left;
  // color: rgb(0, 0, 0);
  color: #231B1B;
  height: 100vh;
  // background-color: red;
  .title{
    margin: 0 auto;
    position: relative;
    bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    // text-align: center;
    h1{
      font-size: 4rem;
      letter-spacing: 1px;
      font-weight: 800;
    }
    h2{
      font-family: 'Roboto', sans-serif;
      font-weight: 700;
      margin-top: 25px;
      letter-spacing: 2px;
    }
  }
}
.wave-container{
  img{
    position: absolute;
    bottom: 0px;
  }
  // position: absolute;
  // top: 15px;
}
.desc{
  // background-color: #474747;
  background-color: $dark-blue;
  font-family: 'Mukta', sans-serif;

  width: 100%;
  padding-top: 50px;
  height: 100%;
  .desc_info-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    height: 100%;
    // align-items: center;
    margin: 0 auto;
    color: #FDFDFF;
    .info-svg{
      transition: all 500ms;
      &:hover{
        transform:rotateY(180deg);
      }
    }
    .esp{
      width: 50%;
      margin: 15px;
      text-align: right;
      h3{
        font-size: 2.5rem;
        // font-family: 'Roboto', sans-serif;
        font-weight: 800;
        // color: ;
        // letter-spacing: px;
        text-align: center;
        margin-right: 75px;
        margin-bottom: 30px;
      }
      p{
        line-height: 30px;
        margin-right: 75px;
      }
    }
    .eng{
      width: 50%;
      margin: 15px;
      text-align: left;
      h3{
        font-size: 2.5rem;
        font-weight: 800;
        letter-spacing: px;
        margin-left: 75px;
        text-align: center;
        margin-bottom: 30px;
      }
      p{
        line-height: 30px;
        margin-left: 75px;
      }
    }
  }
}
  